// Color System

// 配色を決定する
$themeColors:      (
  darkest:           #262626, // 15%
  darker:            #4d4d4d, // 30%
  dark:              #808080, // 50%
  light:             #b3b3b3, // 70%
  lighter:           #d9d9d9, // 85%
  lightest:          #ffffff, // 100%
  primaryDark:       #f47171,   // hsl(0, 85%, 70%)
  primary:           #f9b8b8,   // hsl(0, 85%, 85%)
  primaryLight:      #fcdcdc, // hsl(0, 85%, 92.5%)
  secondary:         #b8d9f9, // hsl(210, 85%, 85%)
);

// 配色の配列から色指定を抽出する関数
@function themeColor($key: "primary") {
  @return map-get($themeColors, $key);
}

// 背景色から適切な文字色を判定する関数
// 参考(https://en.wikipedia.org/wiki/YIQ)
@function colorYiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @if ($yiq < 150) {
    @return themeColor("lightest");
  } @else {
    @return themeColor("darkest");
  }
}

// bodyの設定
$bodyBg:           themeColor("lightest");
$bodyColor:        themeColor("darkest");

// リンク文字の設定
// リンクを強調するため、_typography.scssにて、文字の装飾も設定すること
$linkColor:        themeColor("darker");
$linkHoverColor:   themeColor("primaryDark");
