<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鋤と鉋とプログラミング - 子ども向けプログラミング教室講師ブログ</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="app">
      <header id="header" class="header">
        <div class="header__inner">
          <div class="header__container">
            <nav id="gNav" class="gNav">
              <h1 class="gNav__siteBrand">
                <a href="./">
                  <span class="gNav__title">{{ title }}</span>
                  <span class="gNav__subTitle">{{ subTitle }}</span>
                </a>
              </h1>
              <ul class="gNav__primaryMenu">
                <li class="gNav__menuItem" v-for="item in menuItems">
                  <a :href="item.href">{{ item.name }}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <main id="main" class="main">
        <div class="main__container">
          <div class="main__content">
            <article id="article" class="article"></article>
          </div>
          <div class="main__aside">
            <aside class="sidebar">
              <h2>新着記事</h2>
              <ul class="sidebar__list listItems">
                <li class="listItems__item" v-for="item in content">
                  <a :href="`#${item.slug}`">
                    <span class="listItems__date">{{ item.date }}</span>
                    <span class="listItems__title">{{ item.title }}</span>
                  </a>
                </li>
              </ul>
            </aside>
          </div>
        </div>
      </main>
      <footer id="footer" class="footer">
        <div class="footer__inner">
          <div class="footer__container">
            <small v-html="copyright"></small>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
      const data = {
        data() {
          return {
            title: '鋤と鉋とプログラミング',
            subTitle: '子ども向けプログラミング教室講師ブログ',
            menuItems: [
              {
                name: 'プログラミング教室のご案内',
                href: '/'
              },
              {
                name: 'このブログについて',
                href: './'
              }
            ],
            copyright: '&copy; 2019 - 2023 QWEL DESIGN',
            content: [
              {
                date: '2019-03-06',
                title: 'シュタイナー教育の私的見解',
                slug: 'private-view-of-waldorf-education'
              },
              {
                date: '2019-02-16',
                title: 'ユーリ・ノルシュテインの映像作品',
                slug: 'yurinorstein'
              },
              {
                date: '2018-12-15',
                title: '世界で最初のプログラマー エイダ・ラブレス',
                slug: 'ada-lovelace'
              }
            ]
          }
        },
        created() {
          const hash = location.hash || 'about';
          const slug = hash != 'about' ? hash.slice(1) : hash;
          fetchContent(slug);
        }
      }

      Vue.createApp(data).mount('#app');

      async function fetchContent(slug) {
        const res = await fetch(`./content/${slug}.md`);
        const txt = await res.text();
        const article = document.getElementById('article');
        article.innerHTML = marked.parse(txt);
      }

      window.addEventListener('hashchange', () => {
        const hash = location.hash || 'about';
        const slug = hash != 'about' ? hash.slice(1) : hash;
        fetchContent(slug);
      });

    </script>
  </body>
</html>
