/**
 * Layout - Footer
 */

$footerHeight: 6rem;

.footer {
  height: $footerHeight;

  &__inner {
    height: 100%;
  }

  &__container {
    @include container();
    @include row(flex-start, center);
    height: 100%;
  }
}
