/**
 * Layout - Header
 */

$headerHeight: 9rem;

.header {
  height: $headerHeight;

  &__inner {
    height: 100%;
    @include background("primaryLight");
  }

  &__container {
    @include container();
    height: 100%;
  }
}
